body {
    background-image: url("../public/fond_app.jpg");
    margin: 0; /* Supprime les marges par défaut du body */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif; /* Police de caractères par défaut */
    color: #333; /* Couleur de texte par défaut */
    position: relative; /* Position relative pour les éléments enfants */
}

.App {
    min-height: 100vh; /* Hauteur minimale de l'écran visible */
}

h1 {
    color: #333333;
    font-size: 2.5rem;
    margin-bottom: 30px;
    text-align: center; /* Centrer spécifiquement le titre h1 */
}